<mat-sidenav-container class="app-shell">
  <mat-sidenav
    #sidenav
    class="app-sidenav"
    [mode]="isHandset() ? 'over' : 'side'"
    [opened]="!isHandset() && sidenavOpened()"
  >
    <mat-nav-list>
      @for (item of navItems; track item.path) {
        <a
          mat-list-item
          [routerLink]="item.path"
          routerLinkActive="active-link"
          (click)="isHandset() && sidenav.close()"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.labelKey | translate: i18n.language() }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="app-toolbar">
      <button mat-icon-button (click)="isHandset() ? sidenav.toggle() : toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <img class="app-toolbar__logo" src="assets/logo.png" alt="" aria-hidden="true" />
      <span class="app-toolbar__title">Application Manager</span>

      <span class="app-toolbar__spacer"></span>

      <mat-form-field class="app-toolbar__language" appearance="outline" subscriptSizing="dynamic">
        <mat-icon matPrefix>language</mat-icon>
        <mat-select
          [value]="i18n.language()"
          (selectionChange)="i18n.setLanguage($event.value)"
          [attr.aria-label]="'nav.languageLabel' | translate: i18n.language()"
        >
          @for (language of i18n.languages; track language.id) {
            <mat-option [value]="language.id">{{ language.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="app-toolbar__theme" appearance="outline" subscriptSizing="dynamic">
        <mat-icon matPrefix>palette</mat-icon>
        <mat-select
          [value]="theme.selected()"
          (selectionChange)="theme.select($event.value)"
          [attr.aria-label]="'nav.themeLabel' | translate: i18n.language()"
        >
          @for (option of theme.options; track option.id) {
            <mat-option [value]="option.id">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-toolbar>

    <main class="app-content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
