<div class="editor-page">
  <mat-toolbar color="primary" class="editor-toolbar">
    <span class="editor-toolbar__title">
      {{ 'editor.title' | translate: i18n.language() }}
      @if (jobOffer(); as job) {
        <span class="editor-toolbar__subtitle">- {{ job.title }} bei {{ job.company }}</span>
      }
    </span>

    <span class="editor-toolbar__spacer"></span>

    <button
      mat-button
      type="button"
      [matTooltip]="'editor.saveTooltip' | translate: i18n.language()"
      [disabled]="!application() || saving()"
      (click)="onSaveCoverLetter()"
    >
      @if (saving()) {
        <mat-progress-spinner mode="indeterminate" diameter="18" />
      } @else {
        <mat-icon>save</mat-icon>
      }
      {{ 'editor.saveCoverLetter' | translate: i18n.language() }}
    </button>

    <button
      mat-raised-button
      color="accent"
      type="button"
      [disabled]="!application() || sending()"
      (click)="onOpenSendDialog()"
    >
      @if (sending()) {
        <mat-progress-spinner mode="indeterminate" diameter="18" />
      } @else {
        <mat-icon>send</mat-icon>
      }
      {{ 'editor.sendNow' | translate: i18n.language() }}
    </button>
  </mat-toolbar>

  @if (loading()) {
    <div class="editor-page__loading">
      <mat-progress-spinner mode="indeterminate" diameter="48" />
      <p>{{ 'editor.loading' | translate: i18n.language() }}</p>
      @if (isFirstGeneration()) {
        <p class="editor-page__loading-hint">{{ 'editor.loadingHint' | translate: i18n.language() }}</p>
      }
    </div>
  } @else if (errorMessage()) {
    <div class="editor-page__error">
      <mat-icon>error_outline</mat-icon>
      <p>{{ errorMessage() }}</p>
    </div>
  } @else {
    <section class="editor-content">
      <mat-tab-group animationDuration="150ms">
        <!-- Anschreiben (KI-generiert, manuell editierbar) -->
        <mat-tab [label]="'editor.tabCoverLetter' | translate: i18n.language()">
          <form [formGroup]="coverLetterForm" class="tab-content">
            <mat-form-field appearance="outline" class="cover-letter-field">
              <mat-label>{{ 'editor.coverLetterLabel' | translate: i18n.language() }}</mat-label>
              <textarea
                matInput
                formControlName="cover_letter_text"
                rows="24"
                cdkTextareaAutosize
              ></textarea>
              @if (coverLetterForm.controls.cover_letter_text.hasError('required') && coverLetterForm.controls.cover_letter_text.touched) {
                <mat-error>{{ 'editor.coverLetterRequired' | translate: i18n.language() }}</mat-error>
              }
            </mat-form-field>
          </form>
        </mat-tab>
      </mat-tab-group>
    </section>
  }
</div>
